.widget_wysija_cont .inputContainer {
    position: relative;
    float: left
}

.widget_wysija_cont .ajaxSubmit {
    padding: 20px;
    background: #55ea55;
    border: 1px solid #999;
    display: none
}

.formError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    z-index: 5000;
    cursor: pointer
}

.formError .formErrorContent {
    background: none repeat scroll 0 0 #8E2121;
    border: 1px solid #BBBBBB;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 11px;
    padding: 4px 10px;
    position: relative;
    width: 150px;
    z-index: 5001
}

.widget_wysija_cont .formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position: relative;
    z-index: 5006
}

.widget_wysija_cont .formError .formErrorArrowBottom {
    margin: 0px 0 0 12px;
    top: 2px
}

.widget_wysija_cont .formError .formErrorArrow div {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    font-size: 0px;
    height: 1px;
    background: #8E2121;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block
}

.widget_wysija_cont .greenPopup .formErrorArrow div {
    background: #33be40
}

.widget_wysija_cont .blackPopup .formErrorArrow div {
    background: #393939;
    color: #FFF
}

.widget_wysija_cont .formError .formErrorArrow .line10 {
    width: 15px;
    border: none
}

.widget_wysija_cont .formError .formErrorArrow .line9 {
    width: 13px;
    border: none
}

.widget_wysija_cont .formError .formErrorArrow .line8 {
    width: 11px
}

.widget_wysija_cont .formError .formErrorArrow .line7 {
    width: 9px
}

.widget_wysija_cont .formError .formErrorArrow .line6 {
    width: 7px
}

.widget_wysija_cont .formError .formErrorArrow .line5 {
    width: 5px
}

.widget_wysija_cont .formError .formErrorArrow .line4 {
    width: 3px
}

.widget_wysija_cont .formError .formErrorArrow .line3 {
    width: 1px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 0 solid #ddd
}

.widget_wysija_cont .formError .formErrorArrow .line2 {
    width: 3px;
    border: none;
    background: #ddd
}

.widget_wysija_cont .formError .formErrorArrow .line1 {
    width: 1px;
    border: none;
    background: #ddd
}

.greenPopup .formErrorContent {
    background: none repeat scroll 0 0 #FFFBCC;
    color: #555555
}

.widget_wysija_cont .updated, .widget_wysija_cont .error, .widget_wysija_cont .xdetailed-errors {
    margin: 5px 0 15px;
    color: #333333;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em
}

.widget_wysija_cont .error, .widget_wysija_cont .login #login_error {
    background-color: #FFEBE8;
    border-color: #CC0000
}

.widget_wysija_cont .updated, .widget_wysija_cont .error, .widget_wysija_cont .xdetailed-errors {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    margin: 5px 15px 2px;
    padding: 0 0.6em;
    color: #333333
}

.widget_wysija_cont.updated, .widget_wysija_cont .login .message {
    background-color: #FFFFE0;
    border-color: #E6DB55
}

.widget_wysija_cont .xdetailed-updated {
    background-color: #FFFFE0;
    border-color: #E6DB55;
    color: #000;
    font-weight: bold;
    display: none
}

.widget_wysija_cont .xdetailed-errors {
    background-color: #A50000;
    border-color: #888888;
    color: #DDDDDD;
    font-weight: bold;
    display: none
}

.widget_wysija_cont .instruct {
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
    font-size: 11px
}

.widget_wysija_cont .needInfo {
    padding-left: 15px;
    text-decoration: underline
}

.widget_wysija_cont .wysija-submit {
    display: block;
    margin-top: 20px
}

.widget_wysija_cont input.defaultlabels {
    color: #888
}

.widget_wysija_cont input.defaultlabels:focus {
    color: #373737
}

.widget_wysija_cont .abs-req {
    display: none
}

.widget_wysija_cont p label {
    display: block
}

.widget_wysija_cont .iframe-hidden {
    display: none
}

.widget_wysija_cont .updated, .widget_wysija_cont .error, .widget_wysija_cont .xdetailed-errors {
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 0 0 0 0;
    font-weight: normal;
    margin: 4px 0;
    padding: 4px
}

.widget_wysija_cont .error, .widget_wysija_cont .xdetailed-errors {
    background-color: #e55057;
    color: #fff
}

.widget_wysija_cont .error, .widget_wysija_cont .xdetailed-errors {
    background-color: #e55057;
    color: #fff;
    border-color: #CC0000
}

.widget_wysija_cont .allmsgs ul {
    padding: 0
}

.widget_wysija_cont .allmsgs li {
    list-style-type: none
}

.widget_wysija_cont .updated, .widget_wysija_cont .login .message {
    background-color: #FFFFE0;
    border-color: #E6DB55
}

.widget_wysija_cont .updated ul {
    margin: 0
}

.widget_wysija_cont .showerrors {
    color: #DDDDDD
}

#wysija-subscriptions input.checkboxx {
    margin-left: 0px;
    margin-right: 10px
}

#wysija-subscriptions th label {
    margin-right: 10px
}

#wysija-box-after-comment {
    width: 25px
}

#wysija-box-after-register {
    margin: 0 6px 0 0;
    padding: 3px
}

.wysija-after-register {
    padding-bottom: 10px
}

.wysija-unsubscribed-on {
    color: #bbb
}

.widget_wysija .wysija-required {
    font-weight: bold
}

.widget_wysija .wysija-radio-label, .widget_wysija .wysija-checkbox-label {
    margin: 0 0 5px 0;
    cursor: pointer
}

.widget_wysija .wysija-radio, .widget_wysija .wysija-checkbox {
    margin: 0 5px 0 0;
    vertical-align: middle
}

.xdetailed-errors, .xdetailed-updated {
    display: none
}

.widget_wysija_cont .allmsgs .updated {
    display: block !important
}
